      @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto+Slab:wght@100&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
    @import url("https://fonts.googleapis.com/css2?family=Gloock&display=swap");
    @import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');


     * {
       margin: 0;
       padding: 0;
     }

     *,
     *::before,
     *::after {
       box-sizing: inherit;
     }

    html {
      box-sizing: border-box;
      font-size: 62.5%;
      scroll-behavior: smooth;
    }

    body {
      font-family: 'Alkatra', cursive;
      font-size: 1.5rem;
      font-weight: 400;
      line-height: 1.3;
      color: white;
    }

    h1,
    h2 {
      font-family: "Gloock", serif;
      color: white;
      text-align: center;
      font-size: 6rem;
    }

    p {
      font-family: "Outfit", sans-serif;
      color: #333;
      text-align: center;
    }

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: black;
    }

    .nav {
      display: flex;
      justify-content: center;
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background: #FBD5AB;
      z-index: 10;
      box-shadow: 0px 0px 30px #939393;
    }

    .nav-list {
      display: flex;
      margin-right: 2rem;
    }

    .nav-list a {
      display: block;
      font-size: 2rem;
      padding: 2rem;
    }

    .nav-list a.active,
    a:hover {
      background: rgb(196, 150, 42) 100%;
      transition: 0.25s;
    }

    #quote {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100vh;
    }

    #quote > img {
      height: 120%;
    }